@font-face {
    font-family: "MUSASHI" ;
    src: url(../fonts/MUSASHI.eot) format('opentype'), url('/fonts/MUSASHI.ttf') format('truetype') ;
}
@font-face {
    font-family: "MISAKE" ;
    src: url(../fonts/HIROMISAKE.ttf) format('opentype');
}

  
  
.logo{
    width: 50px;
    height: 50px;
    margin-left: 20px;
   
}
.nav-link{
    font-family: MUSASHI;
    font-weight: normal;
    font-size: 2.5vh;
    letter-spacing: 2px;
    color: rgb(255, 252, 252);
    margin-left:50px;
}
.nav-link:hover{
    color: rgb(232, 215, 141);
    transition: 1.5s;
}
.navbar-nav{
    align-items: center;
    align-content: center;
}
svg#carrinho{
    color: wheat;
}


body{
    
    background-image: url(../imagens/bg.png);
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    width: 100%; 
}
div#divisor{
    height: 5vh;
    width: 100%;
    text-align: center;
    margin: 5px;
    padding: 5px;
    background-color: black;
}
.titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: wheat;
    font-size: 3vh;
    padding: 1px;
}


.container{
    width: 100%;
    
}

div#form{
    width: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(56,51,41,1) 100%);
    height: 92vh;
    padding: 2px;
    border-radius: 15px;
    opacity: 90%;
    align-items: auto;
    text-align: center;
}
.form-control{
    width: 80%;
    background-color: rgb(53, 53, 53);
    margin: auto;
    display: flex;
    text-align: center;
    color: rgb(255, 227, 156);
    border-radius: 10px;
    border: 1px solid wheat;
}

 select:focus, select:hover{
    width: 80%;
    outline: none;
    background-color: rgb(53, 53, 53);
    text-align: center;
    color: rgb(255, 227, 156);
    border-radius: 10px;
    border: 1px solid wheat;
}
h5{
    color: goldenrod;
    margin: 15px 0 10px 0;
    font-family: sans-serif;
}
h6{
    color: rgb(248, 248, 251);
}
.botao{
    border: 2px solid wheat;
    border-radius: 20px;
    color: goldenrod;

    background-color: rgb(251, 251, 251);
}
.botao:hover{
    background-color: rgba(251, 251, 251, 0.207);
}
.inputuser{
    width: 80%;
    background-color: rgb(53, 53, 53);
    margin: auto;
    display: flex;
    text-align: center;
    color: rgb(255, 227, 156);
    border-radius: 10px;
    border: 1px solid wheat;
}
.inputuser::placeholder{
    color: rgb(194, 192, 192);
    opacity: 50%;
}
.inputuser::focus{
    background-color: rgb(53, 53, 53);
    color: goldenrod;
    margin: auto;
    display: flex;
    text-align: center;
}
.inputbox{
    margin: 20px;
}
footer{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 15vh;
    display: flex;
}
.footer{
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 75%;
    margin: auto;
   
}
.footerlado{
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 75%;
    display: flex;
    margin: auto;
}
